<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Administrativa - Inicio</title>
</head>
<body>
    <h1>TABLAS</h1>
        <ul>
            <li><a href="/admin/integrantes/listar">Integrantes</a></li>
            <li><a href="/admin/tipo_media/listar">Tipo Media</a></li>
            <li><a href="/admin/media/listar">Media</a></li>
        </ul>
        <a href="/">Volver</a>
</body>
</html>