<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Integrantes</title>
    <style>
        table{
            border-collapse: collapse;
        }
        table,
        th,
        td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Integrantes</h1>
    <div style="width: 80% !important; margin-top: 1rem; margin-bottom: 1rem;">
    <h3>Filtros de búsqueda</h3>
    <section>
        <form action="/admin/integrantes/listar" method="get">
            <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
                <div style="flex: 1; min-width: 200px; margin-right: 1rem; margin-bottom: 1rem;">
                    <div style="margin-bottom: 1rem;">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" name="s[nombre]" placeholder="Nombre" style="width: 100%; padding: 0.5rem;">
                    </div>
                </div>
                <div style="flex: 1; min-width: 200px; margin-right: 1rem; margin-bottom: 1rem;">
                    <div style="margin-bottom: 1rem;">
                        <label for="apellido">Apellido</label>
                        <input type="text" id="apellido" name="s[apellido]" placeholder="Apellido" style="width: 100%; padding: 0.5rem;">
                    </div>
                </div>
                <div style="flex: 1; min-width: 200px; margin-bottom: 1rem;">
                    <div style="margin-bottom: 1rem;">
                        <label for="matricula">Matrícula</label>
                        <input type="text" id="matricula" name="s[matricula]" placeholder="Matrícula" style="width: 100%; padding: 0.5rem;">
                    </div>
                </div>
            </div>
            <div style="margin-top: 1rem;">
                <button type="submit" style="padding: 0.5rem 1rem; background-color: #000; color: #fff; border: none; cursor: pointer;">Filtrar</button>
                <button type="button" onclick="limpiar()" style="padding: 0.5rem 1rem; background-color: #6c757d; color: #fff; border: none; cursor: pointer;">Limpiar</button>
            </div>
        </form>
    </section>
</div>

<script>
    function limpiar() {
        document.getElementById('nombre').value = '';
        document.getElementById('apellido').value = '';
        document.getElementById('matricula').value = '';
    }
</script>

    <h2>Listado</h2>

    <section>
        <table>
            <tr>
                {{!-- Fila 1 de la Tabla --}}
                <th>Matricula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Codigo</th>
                <th>Orden</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
                {{!-- Para Iteracion atender que es td--}}
            
            {{#if integrantes.length}}
                {{#each integrantes}}
                <tr>
                    <td><a href="/admin/integrantes/editar/{{matricula}}">{{matricula}}</a></td>
                    <td>{{nombre}}</td>
                    <td>{{apellido}}</td>
                    <td>{{codigo}}</td>
                    <td>{{orden}}</td>
                    <td class="{{#if activo}}activo{{else}}inactivo{{/if}}">
                        {{#if activo}}Activo{{else}}Inactivo{{/if}}
                    </td>
                     <td>
                        <form id="delete-form-{{matricula}}" action="/admin/integrantes/eliminar/{{matricula}}" method="POST" style="display:inline;">
                            <button type="button" onclick="confirmDelete('{{matricula}}')">Eliminar</button>
                        </form>
                     </td>
                </tr>

                {{/each}}
            {{else}}
                <tr>
                    <td colspan="6">No hay datos de Integrantes Registrados</td>
                </tr>
            {{/if}}
        </table>
    </section>

     <a href="/admin">Volver</a>
     <a href="/admin/integrantes/crear">Crear Nuevo</a>
     <script>
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            const success = urlParams.get('success');
            const error = urlParams.get('error');

            if (success) {
                toastr.success(success);
            }

            if (error) {
                toastr.error(error);
            }
        };

        function confirmDelete(matricula) {
            if (confirm('¿Estás seguro de que deseas eliminar este integrante?')) {
                document.getElementById(`delete-form-${matricula}`).submit();
            }
        }
    </script>
</body>
</html>