<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Media</title>
    <style>
        
    </style>
</head>
<body>
    <h1>Media</h1>
    <h2>Editar Media</h2>

            <section>
        <form action="/admin/media/update/{{media.id}}" method="post" enctype="multipart/form-data">
           <fieldset>
               <label for="tipoMedia">Tipo Media</label>
                    <label for="id">ID</label>
                    <input type="numer" id="id" name="id" value="{{media.id}}" disabled>

                    <select id="tipoMedia" name="tipoMedia">
                        <option value="">Seleccione un tipo</option>
                        {{#each tipoMedia}}
                            <option value="{{id}}" {{#if (eq id ../media.id_tmedia)}}selected{{/if}}>{{nombre}}</option>
                        {{/each}}
                    </select>

                    <div>
                        <label for="url">URL</label>
                        <input type="checkbox" id="urlCheckbox"  title="¡Solo puede ser seleccionado uno a la vez, SRC o URL!">
                    </div>
                    <input type="text" id="url" name="url" value="{{media.video}}" disabled>

                    <div>
                        <label for="srcRepresentativa">SRCImgRepresentativa</label>
                        <input type="checkbox" id="srcRepresentativaCheckbox" title="¡Solo puede ser seleccionado uno a la vez, SRC o URL!">
                    </div>
                    <input type="file" id="src_representativa" name="src_representativa" disabled>

                    <div>
                        <label for="srcPropia">SRCImgPropia</label>
                        <input type="checkbox" id="srcPropiaCheckbox" title="¡Solo puede ser seleccionado uno a la vez, SRC o URL!">
                    </div>
                    <input type="file" id="src_propia" name="src_propia" disabled>

                    <label for="titulo">Título</label>
                    <input type="text" id="titulo" name="titulo" value="{{media.titulo}}">

                    <label for="integrante">Integrante</label>
                <select id="integrante" name="integrante">
                    <option></option>
                    {{#each integrantes}}
                        <option value="{{matricula}}" {{#if (eq matricula ../media.matricula)}}selected{{/if}}>{{nombre}} {{apellido}}</option>
                    {{/each}}
                </select>


            </fieldset>
            <button type="submit">Editar</button>


        </form>

    </section>

 <a href="/admin/media/listar">Volver A Listado Media</a>
<script>
    window.onload = function() {
        const urlCheckbox = document.getElementById('urlCheckbox');
        const srcRepresentativaCheckbox = document.getElementById('srcRepresentativaCheckbox');
        const srcPropiaCheckbox = document.getElementById('srcPropiaCheckbox');
        const urlInput = document.getElementById('url');
        const srcRepresentativaInput = document.getElementById('src_representativa');
        const srcPropiaInput = document.getElementById('src_propia');

        urlCheckbox.addEventListener('change', function() {
            if (this.checked) {
                urlInput.disabled = false;
                srcRepresentativaInput.disabled = true;
                srcPropiaInput.disabled = true;
                srcRepresentativaCheckbox.checked = false;
                srcPropiaCheckbox.checked = false;
            } else {
                urlInput.disabled = true;
            }
        });

        srcRepresentativaCheckbox.addEventListener('change', function() {
            if (this.checked) {
                srcRepresentativaInput.disabled = false;
                urlInput.disabled = true;
                srcPropiaInput.disabled = true;
                urlCheckbox.checked = false;
                srcPropiaCheckbox.checked = false;
            } else {
                srcRepresentativaInput.disabled = true;
            }
        });

        srcPropiaCheckbox.addEventListener('change', function() {
            if (this.checked) {
                srcPropiaInput.disabled = false;
                urlInput.disabled = true;
                srcRepresentativaInput.disabled = true;
                urlCheckbox.checked = false;
                srcRepresentativaCheckbox.checked = false;
            } else {
                srcPropiaInput.disabled = true;
            }
        });
    };
</script>
</body>
</html>