<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Media</title>
</head>
<body>
    <section>
        <table>
            <tr>
                {{!-- Fila 1 de la Tabla --}}
                <th>Id</th>
                <th>Matricula</th>
                <th>Titulo</th>
                <th>Video</th>
                <th>Imagen</th>
                <th>Dibujo</th>
                <th>Nombre_tmedia</th>
                <th>Orden</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
                {{!-- Para Iteracion atender que es td--}}
            {{#if media.length}}
                {{#each media}}
                <tr>
                    <td><a href="/admin/media/editar/{{id}}">{{id}}</a></td>
                    <td>{{matricula}}</td>
                    <td>{{titulo}}</td>
                    <td>{{video}}</td>
                    <td>{{scr_propia}}</td>
                    <td>{{scr}}</td>
                    <td>{{nombre_tmedia}}</td>
                    <td>{{orden}}</td>
                    <td class="{{#if activo}}activo{{else}}inactivo{{/if}}">
                        {{#if activo}}Activo{{else}}Inactivo{{/if}}
                    </td>
                     <td>
                        <form id="delete-form-{{id}}" action="/admin/media/eliminar/{{id}}" method="POST" style="display:inline;">
                            <button type="button" onclick="confirmDelete('{{id}}')">Eliminar</button>
                        </form>
                     </td>
                </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td colspan="6">No hay datos de Media Registrados</td>
                </tr>
            {{/if}}
        </table>
    </section>

     <a href="/admin">Volver</a>
     <a href="/admin/media/crear">Crear Nuevo</a>

     <script>
        function confirmDelete(matricula) {
            if (confirm('¿Estás seguro de que deseas eliminar este integrante?')) {
                document.getElementById(`delete-form-${matricula}`).submit();
            }
        }
     </script>
</body>
</html>