<style>
    .footer {
            background-color: #331d57;
            color: rgba(255, 255, 255, 0.918);
            padding: 22px 0;
            margin-top: 95px;
    }
    .footer a {
        color: rgb(255, 255, 255); 
    }
    .footer b {
        color: inherit; 
    }
</style>

<footer class="footer">
  <div class="content">
    <h5>Materia: {{MATERIA}}</h5>
    <h5>Estudiante: {{NOMBRE}} {{APELLIDO}}</h5>
    <a href="{{ENLACE}}" target="_blank">Repositorio del Proyecto</a>
  </div>
</footer>

