 {{!--  <nav  class="nav-links">
        <ul>
            <li><a href="/">Volver a la página principal</a></li>
            <li><a href="/Y25366">Christian Salinas</a></li>
            <li><a href="/Y18624">Lujan Caceres</a></li>
            <li><a href="/Y12887">Steven Lopez</a></li>
            <li><a href="/3850665">Marcio Saldivar</a></li>
            <li><a href="/info_curso">Información del Curso</a></li>
            <li><a href="/wordcloud">Word Cloud</a></li>
            {{#if showAdminLink}}
                <li><a href="/admin">Admin</a></li>
            {{/if}}
        </ul>
</nav> --}}
<nav class="nav-links">
    <ul>
        <li><a href="/">Inicio</a></li>
        {{#each integrantes}}
            <li><a href="/{{matricula}}/">{{nombre}}</a></li>
        {{/each}}
        <li><a href="/wordcloud">Word Cloud</a></li>
        <li><a href="/info_curso">Curso</a></li>

        {{#if isAuthenticated}}
            {{#if showAdminLink}}
                <li><a href="/admin">Admin</a></li>
            {{/if}}
            <li><a href="/admin">Admin</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        {{else}}
            <li><a href="/auth/login">Login</a></li>
        {{/if}}
    </ul>
</nav>
