<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            text-align: center;
            padding: 50px;
        }
        .error {
            background-color: #d3f5e0;
            border: 1px solid #2fd3c5;
            border-radius: 5px;
            padding: 20px;
            margin: 0 auto;
            max-width: 500px;
        }
    </style>
</head>
<body>
<div class="error">
    <h1>La pagina que estás buscando no existe.</h1>
    <p><a href="/">Volver al índice de inicio</a></p>
</div>
</body>
</html>
