<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Word Cloud del Grupo</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

        body {
            font-family: 'Quicksand', sans-serif;
            margin: 10;
            padding: 10;
            background-color: #FFFFFF; /* Blanco */
            color: #c7a9d0;
            display: flex;
            flex-direction: column;
            height: 200vh;
        }

        header, footer {
            background-color: #491D57; 
            color: #FFFFFF; 
            padding: 1000px 0;
            text-align: center;
            animation: fadeIn 2s ease-out;
        }

        nav {
            background-color: #491D57;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 20px;
            width: 100%;
        }

        .nav-links {
            display: flex;
            list-style: none;
            padding: 0;
        }

        .nav-links li {
            margin: 0 10px;
        }

        .nav-links li a {
            color: #FFFFFF;
            text-decoration: none;
            padding: 10px 15px;
            border-radius: 5px;
            background-color: #ca98da;
            transition: background-color 0.3s;
        }

        .nav-links li a:hover, .nav-links li a:focus {
            background-color: #a783b8;
            transform: translateY(-3px);
        }

        header, footer {
            background-color: #491D57; 
            color: #FFFFFF; 
            padding: 10px 15px;
            border-radius: 5px;
            transition: background-color 0.3s;
            animation: fadeIn 2s ease-out;
        }

        .nav-links {
            display: flex;
            list-style: none;
        }

        .nav-links li {
            margin: 0 10px;
        }

        .nav-links li a {
            background-color: #ca98da;
            color: #FFFFFF;
            text-decoration: none;
            padding: 10px 15px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }


        .nav-links {
            background-color: #491D57;
            padding: 10px 20px;
            text-align: center;
        }

        .nav-links {
            display: flex;
            justify-content: center; /* Centrar los elementos de navegación */
            align-items: center;
            list-style: none;
            padding: 0;
        }

    
        h1, h2 {
            margin: 20px 0;
        }
    

        .word-cloud {
            margin-bottom: 30px;
            transform: rotate(-15deg);
        }

        .word {
            display: inline-block;
            padding: 5px;
            transition: transform 0.3s ease;
        }
        /* Assuming you are using Quicksand for the word cloud as well */
        .word {
            font-family: 'Quicksand', sans-serif;
            font-weight: 400; 
            opacity: 0.85; 
            color: #c7a9d0; 
        }

        /* Responsive font sizes for word cloud */
        @media (max-width: 768px) {
            .word { font-size: 3vw; }
        }

        @media (min-width: 769px) {
            .word { font-size: 1.5vw; }
        }


        .word:hover {
            transform: scale(1.2);
        }

        /* Palabras adicionales y estilos */
        .word1 { font-size: 20px; color: #E74C3C; transform: rotate(20deg); }
        .word2 { font-size: 24px; color: #3498DB; transform: rotate(-25deg); }
        .word3 { font-size: 28px; color: #2ECC71; transform: rotate(15deg); }
        .word4 { font-size: 32px; color: #F1C40F; transform: rotate(-10deg); }
        .word5 { font-size: 36px; color: #9B59B6; transform: rotate(25deg); }
        .word6 { font-size: 22px; color: #34495E; transform: rotate(30deg); }
        .word7 { font-size: 26px; color: #1ABC9C; transform: rotate(-20deg); }
        .word8 { font-size: 30px; color: #7F8C8D; transform: rotate(10deg); }
        .word9 { font-size: 34px; color: #C0392B; transform: rotate(-15deg); }
        .word10 { font-size: 38px; color: #8E44AD; transform: rotate(5deg); }

        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }

        @keyframes slideIn {
            0% {
                transform: translateY(20px);
                opacity: 0;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }

        @keyframes rotate {
            0% { transform: rotate(0deg); }
            50% { transform: rotate(5deg); }
            100% { transform: rotate(0deg); }
        }

        html, body {
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        }

        ul.cloud {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        line-height: 2.75rem;
        width: 450px;
        }

        ul.cloud a {
        --size: 4;
        --color: #a33;
        color: var(--color);
        font-size: calc(var(--size) * 0.25rem + 0.5rem);
        display: block;
        padding: 0.125rem 0.25rem;
        position: relative;
        text-decoration: none;
        }

        ul.cloud a[data-weight="1"] { --size: 1; }
        ul.cloud a[data-weight="2"] { --size: 2; }
        ul.cloud a[data-weight="3"] { --size: 3; }
        ul.cloud a[data-weight="4"] { --size: 4; }
        ul.cloud a[data-weight="5"] { --size: 6; }
        ul.cloud a[data-weight="6"] { --size: 8; }
        ul.cloud a[data-weight="7"] { --size: 10; }
        ul.cloud a[data-weight="8"] { --size: 13; }
        ul.cloud a[data-weight="9"] { --size: 16; }

        ul[data-show-value] a::after {
        content: " (" attr(data-weight) ")";
        font-size: 1rem;
        }

        ul.cloud li:nth-child(2n+1) a { --color: #181; }
        ul.cloud li:nth-child(3n+1) a { --color: #33a; }
        ul.cloud li:nth-child(4n+1) a { --color: #c38; }

        ul.cloud a:focus {
        outline: 1px dashed;
        }

        ul.cloud a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 100%;
        background: var(--color);
        transform: translate(-50%, 0);
        opacity: 0.15;
        transition: width 0.25s;
        }

        ul.cloud a:focus::before,
        ul.cloud a:hover::before {
        width: 100%;
        }

        @media (prefers-reduced-motion) {
        ul.cloud * {
            transition: none !important;
        }
        }

    </style>
</head>
<body>
     <!-- Incluir el partial en la vista-->
        {{>nav}}
    <header>
        <h1>Word Cloud</h1>
    </header>

    <div class="word-cloud">
        <ul class="cloud" role="navigation" aria-label="Webdev word cloud">
            <li><a href="#" data-weight="4">HTTP</a></li>
            <li><a href="#" data-weight="1">Ember</a></li>
            <li><a href="#" data-weight="5">Sass</a></li>
            <li><a href="#" data-weight="8">HTML</a></li>
            <li><a href="#" data-weight="6">FlexBox</a></li>
            <li><a href="#" data-weight="4">API</a></li>
            <li><a href="#" data-weight="5">VueJS</a></li>
            <li><a href="#" data-weight="6">Grid</a></li>
            <li><a href="#" data-weight="2">Rest</a></li>
            <li><a href="#" data-weight="9">JavaScript</a></li>
            <li><a href="#" data-weight="3">Animation</a></li>
            <li><a href="#" data-weight="7">React</a></li>
            <li><a href="#" data-weight="8">CSS</a></li>
            <li><a href="#" data-weight="1">Cache</a></li>
            <li><a href="#" data-weight="3">Less</a></li>
        </ul>
    </div>

    <footer>
        <p>© 2024 Word Cloud del Grupo. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
