<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font-family: 'Noto Sans', sans-serif;
            background-color: #ffffff;
            color: #333333;
        }

        .vh-100 {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f8f9fa;
        }

        .container {
            max-width: 400px;
            width: 100%;
            padding: 20px;
        }

        .card {
            background-color: #444444;
            color: #ffffff;
            border-radius: 1rem;
            padding: 20px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        }

        .card h2 {
            text-align: start;
            cursor: pointer;
            color: #ffffff;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #555555;
            color: #ffffff;
        }

        .btn {
            background-color: #555555;
            border: 2px solid #ffffff;
            color: #ffffff;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 4px;
            text-transform: uppercase;
            transition: background-color 0.3s, color 0.3s;
        }

        .btn:hover {
            background-color: #ffffff;
            color: #444444;
        }

        .toast-success {
            background-color: #28a745 !important;
        }

        .toast-error {
            background-color: #F50202 !important;
        }
    </style>
</head>
<body>
    <section class="vh-100">
        <form class="container" action="/auth/login" method="post">
            <div class="card">
                <h2 onclick="window.location.href='/'"><i class="fas fa-arrow-circle-left"></i></h2>
                <div class="mb-md-5 mt-md-4 pb-5">
                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                    <div class="form-outline form-white mb-4">
                        <input type="email" id="email" name="email" class="form-control" placeholder="Email"/>
                    </div>
                    <div class="form-outline form-white mb-4">
                        <input type="password" id="contrasenha" name="contrasenha" class="form-control" placeholder="Contraseña"/>
                    </div>
                    <button class="btn" type="submit">Login</button>
                </div>
            </div>
        </form>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            const error = urlParams.get('error');

            if (error) {
                const errores = decodeURIComponent(error).split(';');
                errores.forEach((error) => {
                    toastr.error(error);
                });
            }
        };
    </script>
</body>
</html>
