<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tipo Media</title>
    <style>
        
    </style>
</head>
<body>
    <h1>Tipo Media</h1>
    <h2>Crear Nuevo Tipo Media</h2>

        <section>
            <form action="/admin/tipo_media/crear" method="post">
                <fieldset>
                    <legend>Tipo Media</legend>
                    <label for="nombre">Nombre</label>
                    <input id="nombre" name="nombre" type="text" value="{{nombre}}">

                    <label for="estado_tipo_media_activo">Activo</label>
                    <input id="estado_tipo_media_activo" name="activo" type="radio" value="1" checked>
                    <label for="estado_tipo_media_inactivo">Inactivo</label>
                    <input id="estado_tipo_media_inactivo" name="activo" type="radio" value="0">
                </fieldset>
                <input type="submit" value="Crear">


            </form>

        </section>
    <script>
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            const error = urlParams.get('error');

            if (error) {
                alert(decodeURIComponent(error).replace(/;/g, '\n'));
            }
        };
    </script>
     <a href="/admin/tipo_media/listar">Volver A Listado Tipo Media</a>
     
</body>
</html>