<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tipo Media</title>
    <style>
        
    </style>
</head>
<body>
    <h1>Tipos de Media</h1>
    <h2>Editar Tipo Media</h2>
        <section>
            <form action="/admin/tipo_media/update/{{tipoMedia.id}}" method="post">
            
                <fieldset>
                    <legend>Tipo Media</legend>
                    <label for="id">Id</label>
                    <input id="id" name="id" type="text" value="{{tipoMedia.id}}" disabled>

                    <label for="nombre">Nombre</label>
                    <input id="nombre" name="nombre" type="text" value="{{tipoMedia.nombre}}">

                    <label for="estado_tipoMedia_activo">Activo</label>
                    <input id="estado_tipoMedia_activo" name="activo" type="radio" value="1" checked disabled>
                    <label for="estado_tipoMedia_inactivo">Inactivo</label>
                    <input id="estado_tipoMedia_inactivo" name="activo" type="radio" value="0" disabled>
                </fieldset>
                <button type="submit">Editar</button>


            </form>

        </section>
     <script>
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            const error = urlParams.get('error');

            if (error) {
                alert(decodeURIComponent(error).replace(/;/g, '\n'));
            }
        };
    </script>
     <a href="/admin/tipo_media/listar">Volver A Listado Tipo Media</a>
     
</body>
</html>