<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tipo Media</title>
</head>
<body>
    <h1>Tipo de Media</h1>
    <div style="width: 80% !important; margin-top: 1rem; margin-bottom: 1rem;">
    <h3>Filtros de búsqueda</h3>
    <section>
        <form action="/admin/tipo_media/listar" method="get">
            <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
                <div style="flex: 1; min-width: 200px; margin-right: 1rem; margin-bottom: 1rem;">
                    <div style="margin-bottom: 1rem;">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" name="s[nombre]" placeholder="Nombre" style="width: 100%; padding: 0.5rem;">
                    </div>
                </div>
            </div>
            <div style="margin-top: 1rem;">
                <button type="submit" style="padding: 0.5rem 1rem; background-color: #000; color: #fff; border: none; cursor: pointer;">Filtrar</button>
                <button type="button" onclick="limpiar()" style="padding: 0.5rem 1rem; background-color: #6c757d; color: #fff; border: none; cursor: pointer;">Limpiar</button>
            </div>
        </form>
    </section>
</div>
     <section>
        <table>
            <tr>
                {{!-- Fila 1 de la Tabla --}}
                <th>Id</th>
                <th>Nombre</th>
                <th>Orden</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
                {{!-- Para Iteracion atender que es td--}}
            {{#if tipoMedia.length}}
                {{#each tipoMedia}}
                <tr>
                    <td><a href="/admin/tipo_media/editar/{{id}}">{{id}}</a></td>
                    <td>{{nombre}}</td>
                    <td>{{orden}}</td>
                    <td class="{{#if activo}}activo{{else}}inactivo{{/if}}">
                        {{#if activo}}Activo{{else}}Inactivo{{/if}}
                    </td>
                    <td>
                      <form id="delete-form-{{id}}" action="/admin/tipo_media/eliminar/{{id}}" method="POST" style="display:inline;">
                          <button type="button" onclick="confirmDelete('{{id}}')">Eliminar</button>
                      </form>
                    </td>
                </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td colspan="6">No hay datos de Tipo Media Registrados</td>
                </tr>
            {{/if}}
        </table>
    </section>

     <a href="/admin">Volver</a>
     <a href="/admin/tipo_media/crear">Crear Nuevo</a>
     
     <script>
        function confirmDelete(id) {
            if (confirm('¿Estás seguro de que deseas eliminar este tipo de media?')) {
                document.getElementById(`delete-form-${id}`).submit();
            }
        }

    function limpiar() {
        document.getElementById('nombre').value = '';
    }

     </script>
</body>
</html>